body {
	font-family: sans-serif;
	text-align: center;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}

.people-links {
	li {
		list-style-type: none;
		padding: 0 5px;
	}
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
